:root {
  --stroke-width: calc(1em / 32);
  --font-size: 20rem;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}

.text-stroke {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#b40031),
    color-stop(#b40031),
    color-stop(#b40031),
    to(#b40031)
  );
  background-image: -o-linear-gradient(
    left,
    #b40031,
    #b40031,
    #b40031,
    #b40031
  );
  background-image: linear-gradient(
    to right,
    #b40031,
    #b40031,
    #b40031,
    #b40031
  );

  font-size: var(--font-size);
  font-weight: 700;
  font-weight: var(--font-weight);

  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
  -webkit-text-stroke-width: var(--stroke-width);
}
